<!-- ============================= -->
font-weight: bold;
transition: 0.2s;
}


.cat-btn:hover {
background: #82ffd9;
transform: scale(1.05);
}


/* CART TOP */
.cart-top {
position: absolute;
top: 10px;
right: 20px;
display: flex;
gap: 10px;
align-items: center;
}


.cart-link {
background: #ff9ecf;
padding: 8px 14px;
border-radius: 20px;
color: white;
text-decoration: none;
font-weight: bold;
}


.pay-top-btn {
background: #82ffd9;
border: none;
padding: 8px 14px;
border-radius: 20px;
cursor: pointer;
font-weight: bold;
}
</style>
