/* GENERAL */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff5fa;
  display: flex;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffb7df;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 26px;
}

.top-right button {
  background: #b3ffe6;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.top-right button:hover {
  background: #89ffd9;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #ffe2f4;
  height: 100vh;
  padding: 120px 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid #ff96d4;
}

.sidebar h3 {
  color: #ff40a1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 8px;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar li:hover {
  background: #b3ffe6;
}

/* MAIN */
main {
  margin-left: 260px;
  padding: 140px 30px;
  width: 100%;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card button {
  background: #ff96d4;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.product-card button:hover {
  background: #ff5fbd;
}

/* CART */
#cart.hidden {
  display: none;
}

#cart {
  margin-top: 40px;
}

#cart-items div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#checkout-btn {
  background: #b3ffe6;
  margin-top: 20px;
}

#checkout-btn:hover {
  background: #89ffd9;
}
