body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff7fc;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #ffb7e1;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/* CARRITO ARRIBA DERECHA */
.cart-icon {
  background: #b3ffe6;
  padding: 10px 14px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#cart-count {
  background: #ff40a1;
  color: white;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 10px;
}

/* PANEL DEL CARRITO */
.cart-panel {
  position: fixed;
  top: 80px;
  right: 20px;
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.cart-panel.hidden {
  display: none;
}

.cart-panel h3 {
  margin-top: 0;
  color: #ff40a1;
}

.pay-btn {
  display: block;
  background: #b3ffe6;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #ffe2f4;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  float: left;
}

.cat-btn {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 12px;
  border: none;
  background: #ffb7e1;
  cursor: pointer;
  font-weight: bold;
}

.products-section {
  margin-left: 250px;
  padding: 20px;
}

/* PRODUCTOS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.product button {
  background: #82ffd9;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
